/* Colors */
/* Spacing */
body {
  font-size: 100%;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  color: white;
  font-family: 'Avenir Next', 'Avenir', 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 100; }

h2 {
  margin-top: 0;
  margin-bottom: 72px;
  font-weight: 100;
  font-size: 28px; }

p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px; }

button.button, a.button {
  appearance: none;
  -webkit-appearance: none;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.5px;
  font-size: 12px;
  font-weight: 400;
  color: #3c93d7;
  height: 32px;
  line-height: 32px;
  border-radius: 2px;
  padding: 0 32px; }
  button.button:focus, button.button:active, a.button:focus, a.button:active {
    border: none;
    outline: none; }
  button.button:hover, a.button:hover {
    background-color: rgba(0, 0, 0, 0.02); }
  button.button:active, a.button:active {
    background-color: rgba(0, 0, 0, 0.04); }

.button-full {
  border: 1px solid #3c93d7;
  border-radius: 16px; }
  .button-full:focus, .button-full:active {
    border: 1px solid #3c93d7; }
  .button-full:hover {
    background-color: #3c93d7; }
  .button-full:active {
    background-color: rgba(0, 0, 0, 0.04); }

.button-light {
  border-color: white;
  color: white; }
  .button-light.button-full:hover {
    background-color: white;
    color: #3c93d7; }
  .button-light.button-full:focus, .button-light.button-full:active {
    border: 1px solid white; }

.button-large {
  height: 48px;
  line-height: 48px; }
  .button-large.button-full {
    border-radius: 24px; }

@media only screen and (max-device-width: 736px) {
  h2 {
    font-size: 18px;
    margin-bottom: 32px; } }
/* Colors */
/* Spacing */
section {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  background-color: #fafafa;
  overflow: hidden; }
  section img {
    margin-bottom: 32px; }
  section > * {
    position: relative;
    z-index: 1; }

section.dark,
footer.dark {
  color: white; }

section.light,
footer.light {
  color: #555555; }
  section.light p, section.light span,
  footer.light p,
  footer.light span {
    font-family: 'Avenir', 'Helvetica Neue', Helvetica, sans-serif; }

#intro {
  background-color: #3c93d7; }
  #intro .timeline-item:last-child {
    padding-top: 0; }

#capriza-intro {
  height: 600px;
  background-image: url("../images/worksimple-app-table.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #3a3a3a; }
  @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
    #capriza-intro {
      background-image: url("../images/worksimple-app-table@2x.png");
      background-size: cover; } }
  #capriza-intro img {
    margin-top: -8px; }

#capriza-designer {
  height: 829px;
  background-image: url("../images/capriza-designer-devices.png");
  background-repeat: no-repeat;
  background-position: bottom right; }
  @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
    #capriza-designer {
      background-image: url("../images/capriza-designer-devices@2x.png");
      background-size: 859px 758px; } }
  #capriza-designer p {
    width: 408px; }

#columns-intro {
  background-color: #3e97bd; }
  #columns-intro img:first-child {
    margin-top: 4px; }
  #columns-intro img:last-child {
    margin: 0;
    position: relative;
    top: 8px; }
  #columns-intro .timeline-item {
    padding-bottom: 0; }

#columns-detail {
  height: 829px; }
  #columns-detail .timeline-item {
    margin-top: 112px; }
  #columns-detail a {
    color: #3e97bd;
    text-decoration: none; }
  #columns-detail p {
    max-width: 323px; }
  #columns-detail .upload-preview-mobile {
    display: none;
    background: none;
    margin-top: 32px; }

#queue {
  height: 600px;
  background-color: #8dc2c3;
  background-image: url("../images/queue-screens.png");
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-position-x: -webkit-calc(100% - 8px * 4);
  background-position-x: calc(100% - 8px * 4); }
  @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
    #queue {
      background-image: url("../images/queue-screens@2x.png");
      background-size: 540px 523px; } }
  #queue h2 {
    margin-bottom: 32px; }
  #queue p {
    width: 258px; }

#carma {
  background-color: rgba(93, 165, 201, 0.2);
  background-image: url("../images/carma-screen.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-position-y: bottom;
  background-position-x: -webkit-calc(100% + 1px);
  background-position-x: calc(100% + 1px);
  padding-bottom: 32px; }
  @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
    #carma {
      background-image: url("../images/carma-screen@2x.png");
      background-size: 579px 339px; } }
  #carma img:first-child {
    margin-bottom: 32px;
    margin-top: 4px; }
  #carma p {
    width: 258px; }
  #carma .timeline-item {
    padding-bottom: 0; }

#previous-experience p {
  width: 300px; }

#skills {
  background-color: #555;
  background-image: url("../images/shoes.png");
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: -webkit-calc(100% - 8px * 16);
  background-position-x: calc(100% - 8px * 16); }
  @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
    #skills {
      background-image: url("../images/shoes@2x.png");
      background-size: 314px 100px; } }
  #skills p {
    width: 300px; }
  #skills img:first-child {
    margin-top: -9px; }
  #skills img:last-child {
    margin-top: 3px; }

@media only screen and (max-device-width: 1023px) {
  #carma {
    padding-bottom: 339px;
    background-position-x: 64px; }
    #carma p {
      margin-bottom: 32px;
      width: auto;
      max-width: 540px; } }
@media only screen and (max-device-width: 980px) {
  #capriza-designer {
    height: auto;
    padding-bottom: 758px; }
    #capriza-designer p {
      margin-bottom: 32px;
      width: 100%;
      max-width: 540px; }

  #queue {
    height: auto;
    padding-bottom: 523px;
    background-position-x: 64px; }
    #queue p {
      margin-bottom: 32px;
      width: 100%;
      max-width: 540px; }

  #columns-detail {
    height: auto;
    padding-bottom: 753px; }
    #columns-detail .timeline-item {
      margin-top: 0; }
    #columns-detail .upload-preview {
      right: auto;
      top: auto;
      bottom: -144px;
      left: 64px; }

  #previous-experience p {
    margin-bottom: 32px;
    width: 100%;
    max-width: 540px; } }
@media only screen and (max-device-width: 736px) {
  #capriza-intro img {
    height: 32px; }

  #capriza-designer {
    background-size: -webkit-calc(100% - 8px * 2);
    background-size: calc(100% - 8px * 2);
    padding-bottom: -webkit-calc(100% - 8px * 4);
    padding-bottom: calc(100% - 8px * 4); }
    #capriza-designer .timeline-item {
      padding-bottom: 0px; }

  #columns-intro {
    background-image: url("../images/columns-designer.png");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: -webkit-calc(100% - 8px * 2);
    background-size: calc(100% - 8px * 2);
    padding-bottom: -webkit-calc(100% - 8px * 12);
    padding-bottom: calc(100% - 8px * 12); }
    #columns-intro img:first-child {
      height: 20px; }
    #columns-intro img:last-child {
      display: none; }
    #columns-intro .timeline-item {
      padding-bottom: 0px; } }
  @media only screen and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 1.3), only screen and (max-device-width: 736px) and (min--moz-device-pixel-ratio: 1.3), only screen and (max-device-width: 736px) and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (max-device-width: 736px) and (min-resolution: 125dpi), only screen and (max-device-width: 736px) and (min-resolution: 1.3dppx) {
    #columns-intro {
      background-image: url("../images/columns-designer@2x.png"); } }

@media only screen and (max-device-width: 736px) {
  #columns-detail {
    background: none;
    padding-bottom: 0; }
    #columns-detail .upload-preview-mobile {
      display: block; }
    #columns-detail .upload-preview {
      display: none; }

  #queue {
    background-position: bottom center;
    background-size: -webkit-calc(100% - 8px * 2);
    background-size: calc(100% - 8px * 2);
    padding-bottom: -webkit-calc(100% - 8px * 4);
    padding-bottom: calc(100% - 8px * 4); }
    #queue .timeline-item {
      padding-bottom: 0px; }

  #carma {
    background-position: bottom center;
    background-size: -webkit-calc(100% - 8px * 2);
    background-size: calc(100% - 8px * 2);
    padding-bottom: -webkit-calc(100% - 8px * 12);
    padding-bottom: calc(100% - 8px * 12); }
    #carma .timeline-item {
      padding-bottom: 0px; }

  #skills {
    background-position: bottom center;
    background-position-x: -webkit-calc(100% - 8px * 4);
    background-position-x: calc(100% - 8px * 4);
    background-position-y: -webkit-calc(100% - 8px * 4);
    background-position-y: calc(100% - 8px * 4);
    background-size: -webkit-calc(224px);
    background-size: calc(224px);
    padding-bottom: -webkit-calc(60%);
    padding-bottom: calc(60%); }
    #skills .timeline-item {
      padding-bottom: 0px; } }
/* Colors */
/* Spacing */
.dark .timeline-line {
  background-color: rgba(255, 255, 255, 0.5); }
.dark .timeline-identifier:after {
  background-color: rgba(255, 255, 255, 0.5); }

.light .timeline-line {
  background-color: rgba(0, 0, 0, 0.12); }
.light .timeline-identifier:after {
  background-color: rgba(0, 0, 0, 0.12); }

.timeline-line {
  position: absolute;
  top: 0;
  left: 272px;
  width: 1px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 0; }

.timeline-item {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 72px 36px 0 72px; }
  .timeline-item:last-child {
    padding-bottom: 72px; }

.timeline-identifier {
  box-sizing: border-box;
  min-width: 200px;
  padding-right: 64px;
  margin-right: 64px;
  text-align: right;
  position: relative; }
  .timeline-identifier > span {
    display: inline-block;
    margin-top: 4px; }
  .timeline-identifier > object {
    margin-top: 8px; }

.timeline-item {
  position: relative; }

.timeline-identifier:after {
  content: '';
  position: absolute;
  right: -32px;
  top: 16px;
  width: 64px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.5); }

.timeline-identifier.partial-notch:after {
  width: 32px;
  right: 0px; }

.timeline-identifier.no-notch:after {
  width: 0; }

article {
  padding-left: 0; }

@media only screen and (max-device-width: 1200px) {
  .timeline-line {
    left: 32px; }

  .timeline-item {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    box-direction: normal;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
    -ms-flex-direction: column; }

  .timeline-identifier {
    text-align: left;
    margin-bottom: 32px; }
    .timeline-identifier:after {
      width: 32px;
      right: auto;
      left: -56px; } }
@media only screen and (max-device-width: 736px) {
  #intro .timeline-line {
    height: 100%; }

  .timeline-line {
    height: 104px; }

  .timeline-identifier {
    font-size: 14px; } }
/* Colors */
/* Spacing */
.upload-preview.mobile {
  display: none; }

.upload-preview {
  position: absolute;
  right: 72px;
  top: 72px;
  height: -webkit-calc(100% - 72px);
  height: calc(100% - 72px);
  max-height: 879px;
  width: 432px;
  background-image: url("/images/iphone_6_frame.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: url("/images/iphone_6_frame.png"); }
  @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
    .upload-preview {
      background-image: url("/images/iphone_6_frame@2x.png");
      background-size: 432px auto; } }

.upload-preview-screen {
  width: 341px;
  height: -webkit-calc(100% - 107px - 64px - 24px);
  height: calc(100% - 107px - 64px - 24px);
  max-height: 576px;
  background: white;
  position: relative;
  overflow: scroll;
  top: 107px;
  left: 29px;
  padding: 88px 16px 0 16px; }
  .upload-preview-screen > img {
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    transition: opacity 0.2s; }
  .upload-preview-screen.newspaper .upload-preview-screen-newspaper {
    opacity: 1; }
  .upload-preview-screen.newspaper .upload-preview-screen-journal {
    opacity: 0; }
  .upload-preview-screen.newspaper .upload-preview-screen-blog {
    opacity: 0; }
  .upload-preview-screen.journal .upload-preview-screen-newspaper {
    opacity: 0; }
  .upload-preview-screen.journal .upload-preview-screen-journal {
    opacity: 1; }
  .upload-preview-screen.journal .upload-preview-screen-blog {
    opacity: 0; }
  .upload-preview-screen.blog .upload-preview-screen-newspaper {
    opacity: 0; }
  .upload-preview-screen.blog .upload-preview-screen-journal {
    opacity: 0; }
  .upload-preview-screen.blog .upload-preview-screen-blog {
    opacity: 1; }

.upload-preview-screen > * {
  background-size: contain;
  background-repeat: no-repeat; }

.upload-preview-screen-header {
  height: 64px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin-bottom: 24px; }

.newspaper .upload-preview-screen-header {
  background-image: url("/images/newspaper_header@2x.png"); }

.journal .upload-preview-screen-header {
  background-image: url("/images/journal_header@2x.png"); }

.blog .upload-preview-screen-header {
  background-image: url("/images/blog_header@2x.png"); }

.upload-preview-screen-title {
  height: 27px;
  margin-bottom: 24px; }

.newspaper .upload-preview-screen-title {
  background-image: url("/images/newspaper_title@2x.png"); }

.journal .upload-preview-screen-title {
  background-image: url("/images/journal_title@2x.png"); }

.blog .upload-preview-screen-title {
  background-image: url("/images/blog_title@2x.png"); }

.upload-preview-screen-data-tagline {
  height: 16px;
  margin-bottom: 8px; }

.newspaper .upload-preview-screen-data-tagline {
  background-image: url("/images/newspaper_data_tagline@2x.png"); }

.journal .upload-preview-screen-data-tagline {
  background-image: url("/images/journal_data_tagline@2x.png"); }

.blog .upload-preview-screen-data-tagline {
  background-image: url("/images/blog_data_tagline@2x.png"); }

.upload-preview-screen-paragraph {
  height: 116px;
  background-image: url("/images/article_paragraph@2x.png");
  margin-bottom: 24px; }

.upload-preview-screen-paragraph-small {
  height: 116px;
  background-image: url("/images/paragraph_1@2x.png");
  margin-bottom: 24px; }

.columns-table-widget {
  margin-bottom: 24px; }

/* Colors */
/* Spacing */
footer {
  height: 220px;
  position: relative;
  background-color: #fafafa; }
  footer .timeline-line {
    height: 50%; }
  footer > * {
    position: relative;
    z-index: 1; }

.footer-content-area {
  box-sizing: border-box;
  margin-left: 273px;
  padding: 32px;
  height: 100%;
  cursor: pointer;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center; }

.contact-me-button {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  text-decoration: none;
  margin-left: -57px; }
  .contact-me-button .button {
    padding-left: 40px;
    text-transform: lowercase; }

.contact-me-button-circle {
  height: 48px;
  width: 48px;
  background-color: #3c93d7;
  border: 1px solid rgba(0, 0, 0, 0.08);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center; }
  .contact-me-button-circle:hover {
    background-color: #2679ba; }
  .contact-me-button-circle:active {
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2); }
  .contact-me-button-circle object {
    cursor: pointer; }

.twitter {
  display: block; }

.copyright {
  opacity: 0.4;
  font-size: 12px; }

@media only screen and (max-device-width: 1200px) {
  .footer-content-area {
    margin-left: 33px; } }
@media only screen and (max-device-width: 736px) {
  footer .timeline-line {
    display: none; }

  .footer-content-area {
    margin-left: 0;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    box-direction: normal;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
    -ms-flex-direction: column;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center; }
    .footer-content-area .contact-me-button-circle {
      display: none; }
    .footer-content-area .contact-me-button {
      margin-left: 0; } }
