/* Colors */
/* Spacing */
section {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  background-color: #fafafa;
  overflow: hidden; }
  section img {
    margin-bottom: 32px; }
  section > * {
    position: relative;
    z-index: 1; }

section.dark,
footer.dark {
  color: white; }

section.light,
footer.light {
  color: #555555; }
  section.light p, section.light span,
  footer.light p,
  footer.light span {
    font-family: 'Avenir', 'Helvetica Neue', Helvetica, sans-serif; }

#intro {
  background-color: #3c93d7; }
  #intro .timeline-item:last-child {
    padding-top: 0; }

#capriza-intro {
  height: 600px;
  background-image: url("../images/worksimple-app-table.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #3a3a3a; }
  @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
    #capriza-intro {
      background-image: url("../images/worksimple-app-table@2x.png");
      background-size: cover; } }
  #capriza-intro img {
    margin-top: -8px; }

#capriza-designer {
  height: 829px;
  background-image: url("../images/capriza-designer-devices.png");
  background-repeat: no-repeat;
  background-position: bottom right; }
  @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
    #capriza-designer {
      background-image: url("../images/capriza-designer-devices@2x.png");
      background-size: 859px 758px; } }
  #capriza-designer p {
    width: 408px; }

#columns-intro {
  background-color: #3e97bd; }
  #columns-intro img:first-child {
    margin-top: 4px; }
  #columns-intro img:last-child {
    margin: 0;
    position: relative;
    top: 8px; }
  #columns-intro .timeline-item {
    padding-bottom: 0; }

#columns-detail {
  height: 829px; }
  #columns-detail .timeline-item {
    margin-top: 112px; }
  #columns-detail a {
    color: #3e97bd;
    text-decoration: none; }
  #columns-detail p {
    max-width: 323px; }
  #columns-detail .upload-preview-mobile {
    display: none;
    background: none; }

#queue {
  height: 657px;
  background-color: #8dc2c3;
  background-position: right bottom;
  background-origin: content-box;
  padding-right: 32px;
  background-image: url("../images/queue-screens.png");
  background-repeat: no-repeat; }
  @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
    #queue {
      background-image: url("../images/queue-screens@2x.png");
      background-size: 540px 579px; } }
  #queue h2 {
    margin-bottom: 32px; }
  #queue p {
    width: 258px; }
  #queue .video-container {
    position: absolute;
    bottom: 0px;
    right: 54px;
    height: 499px;
    width: 281px;
    overflow: hidden; }
    #queue .video-container video {
      position: relative;
      left: -303px;
      height: 100%; }

#carma {
  background-color: rgba(93, 165, 201, 0.2);
  background-image: url("../images/carma-screen.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-position-y: bottom;
  background-position-x: -webkit-calc(100% + 1px);
  background-position-x: calc(100% + 1px);
  padding-bottom: 32px; }
  @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
    #carma {
      background-image: url("../images/carma-screen@2x.png");
      background-size: 579px 339px; } }
  #carma img:first-child {
    margin-bottom: 32px;
    margin-top: 4px; }
  #carma p {
    width: 258px; }
  #carma .timeline-item {
    padding-bottom: 0; }

#previous-experience p {
  width: 300px; }

#skills {
  background-color: #555;
  background-position: right center;
  background-origin: content-box;
  padding-right: 128px;
  background-image: url("../images/shoes.png");
  background-repeat: no-repeat; }
  @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
    #skills {
      background-image: url("../images/shoes@2x.png");
      background-size: 314px 100px; } }
  #skills p {
    width: 300px; }
  #skills img:first-child {
    margin-top: -9px; }
  #skills img:last-child {
    margin-top: 3px; }

@media only screen and (max-width: 1023px) {
  #carma {
    padding-bottom: 339px;
    background-position-x: 64px; }
    #carma p {
      margin-bottom: 32px;
      width: auto;
      max-width: 540px; } }
@media only screen and (max-width: 980px) {
  #capriza-designer {
    height: auto;
    padding-bottom: 758px; }
    #capriza-designer p {
      margin-bottom: 32px;
      width: 100%;
      max-width: 540px; }

  #queue {
    height: auto;
    padding-bottom: 579px;
    background-position-x: 64px;
    background-origin: padding-box; }
    #queue p {
      margin-bottom: 32px;
      width: 100%;
      max-width: 540px; }
    #queue .video-container {
      left: 301px; }

  #columns-detail {
    height: auto;
    padding-bottom: 753px; }
    #columns-detail .timeline-item {
      margin-top: 0; }
    #columns-detail .upload-preview {
      right: auto;
      top: auto;
      bottom: -144px;
      left: 64px; }

  #previous-experience p {
    margin-bottom: 32px;
    width: 100%;
    max-width: 540px; } }
@media only screen and (max-width: 736px) {
  #capriza-intro img {
    height: 32px; }

  #capriza-designer {
    background-size: -webkit-calc(100% - 8px * 2);
    background-size: calc(100% - 8px * 2);
    padding-bottom: -webkit-calc(100% - 8px * 4);
    padding-bottom: calc(100% - 8px * 4); }
    #capriza-designer .timeline-item {
      padding-bottom: 0px; }

  #columns-intro {
    background-image: url("../images/columns-designer.png");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: -webkit-calc(100% - 8px * 2);
    background-size: calc(100% - 8px * 2);
    padding-bottom: -webkit-calc(100% - 8px * 12);
    padding-bottom: calc(100% - 8px * 12); }
    #columns-intro img:first-child {
      height: 20px; }
    #columns-intro img:last-child {
      display: none; }
    #columns-intro .timeline-item {
      padding-bottom: 0px; } }
  @media only screen and (max-width: 736px) and (-webkit-min-device-pixel-ratio: 1.3), only screen and (max-width: 736px) and (min--moz-device-pixel-ratio: 1.3), only screen and (max-width: 736px) and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (max-width: 736px) and (min-resolution: 125dpi), only screen and (max-width: 736px) and (min-resolution: 1.3dppx) {
    #columns-intro {
      background-image: url("../images/columns-designer@2x.png"); } }

@media only screen and (max-width: 736px) {
  #columns-detail {
    background: none;
    padding-bottom: 0; }
    #columns-detail .upload-preview-mobile {
      display: block; }
    #columns-detail .upload-preview {
      display: none; }

  #queue {
    background-position: bottom center;
    background-size: -webkit-calc(100% - 8px * 2);
    background-size: calc(100% - 8px * 2);
    padding-bottom: -webkit-calc(100% - 8px * 0);
    padding-bottom: calc(100% - 8px * 0); }
    #queue .timeline-item {
      padding-bottom: 0px; }
    #queue .video-container {
      display: none; }

  #carma {
    background-position: bottom center;
    background-size: -webkit-calc(100% - 8px * 2);
    background-size: calc(100% - 8px * 2);
    padding-bottom: -webkit-calc(100% - 8px * 12);
    padding-bottom: calc(100% - 8px * 12); }
    #carma .timeline-item {
      padding-bottom: 0px; }

  #skills {
    background-origin: padding-box;
    background-position: bottom center;
    background-position-x: -webkit-calc(100% - 8px * 4);
    background-position-x: calc(100% - 8px * 4);
    background-position-y: -webkit-calc(100% - 8px * 4);
    background-position-y: calc(100% - 8px * 4);
    background-size: -webkit-calc(224px);
    background-size: calc(224px);
    padding-bottom: -webkit-calc(60%);
    padding-bottom: calc(60%); }
    #skills .timeline-item {
      padding-bottom: 0px; } }
