/* Colors */

$text-color-light: #ffffff;
$text-color-dark: #555555;

$divider-color-light: rgba(255,255,255,0.12);
$divider-color-dark: rgba(0,0,0,0.08);

$primary-color: #3C93D7;

/* Spacing */
$spacing: 8px;
$section-spacing: $spacing * 9;