@import 'variables';
@import 'bower_components/bourbon/app/assets/stylesheets/bourbon';

section {
	@include display(flex);
	position: relative;
	background-color: $section-background-color;
	overflow: hidden;

	img { margin-bottom: $spacing * 4; }

	& > * {
		position: relative;
		z-index: 1;
	}
}

section.dark,
footer.dark {
	color: $text-color-light;
}

section.light,
footer.light {
	color: $text-color-dark;

	p, span {
		font-family: 'Avenir', 'Helvetica Neue', Helvetica, sans-serif;
	}
}

#intro {
	background-color: $primary-color;

	.timeline-item:last-child {
		padding-top:0;
	}
}

#capriza-intro {
	height: 600px;
	@include retina-image("../images/worksimple-app-table", cover, 'png', null, '@2x');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	background-color: #3a3a3a;

	img { margin-top: -8px; }
}

#capriza-designer {
	height: 829px;
	@include retina-image("../images/capriza-designer-devices", 859px 758px, 'png', null, '@2x');
	background-repeat: no-repeat;
	background-position: bottom right;

	p { width: 408px; }
}
	
$columns-color: #3E97BD;
#columns-intro {
	background-color: $columns-color;
	
	img:first-child { margin-top: 4px; }
	img:last-child { margin: 0; position: relative; top: $spacing; }
	.timeline-item { padding-bottom: 0; }
}

#columns-detail {
	height: 829px;

	.timeline-item { margin-top: 112px; }
	a { color: $columns-color; text-decoration: none;}
	p {
		max-width: 323px;
	}

	.upload-preview-mobile {
		display: none;
		background: none;
		// margin-top: $spacing * 4;
	}
}

$queue-color: #8DC2C3;
#queue {
	height: 657px;
	background-color: $queue-color;
	@include retina-image("../images/queue-screens", 540px 579px, 'png', null, '@2x');
	background-repeat: no-repeat;
	background-position-y: bottom;
	@include calc(background-position-x, '100% - #{$spacing} * 4');

	h2 { margin-bottom: $spacing * 4; }
	p { width: 258px; }
	.video-container {
		position: absolute;
		bottom: 0px;
		right: $spacing * 4 + 22;
		height: 499px;	
		width: 281px;
		overflow: hidden;

		video {
			position: relative;
			left: -303px;
			// top: -18px;
			height: 100%;
		}
	}
}

$carma-color: #5DA5C9;
#carma {
	background-color: fade-out( $carma-color, .8 );
	@include retina-image("../images/carma-screen", 579px 339px, 'png', null, '@2x');
	background-repeat: no-repeat;
	background-position: bottom right;
	background-position-y: bottom;
	@include calc(background-position-x, '100% + 1px');
	padding-bottom: $spacing * 4;

	img:first-child { margin-bottom: $spacing * 4; margin-top: 4px; }
	p { width: 258px; }
	.timeline-item { padding-bottom: 0; }
}

#previous-experience {
	p { width: 300px; }
}

#skills {
	background-color: #555;
	@include retina-image("../images/shoes", 314px 100px, 'png', null, '@2x');
	background-repeat: no-repeat;
	background-position-y: center;
	@include calc(background-position-x, '100% - #{$spacing} * 16');
	p { width: 300px; }

	img:first-child { margin-top: -9px; }
	img:last-child { margin-top: 3px; }
}

@media only screen and (max-device-width: 1023px) {
	#carma {
		p { margin-bottom: $spacing * 4; width: auto; max-width: 540px;}
		padding-bottom: 339px;
		background-position-x: $spacing * 8;
		// @include calc(background-position-x, '100% - #{$spacing} * 16');
	}
}

@media only screen and (max-device-width: 980px) {

	#capriza-designer {
		p { margin-bottom: $spacing * 4; width: 100%; max-width: 540px;}
		height: auto;
		padding-bottom: 758px;
	}

	#queue {
		p { margin-bottom: $spacing * 4; width: 100%; max-width: 540px;}
		height: auto;
		padding-bottom: 579px;
		background-position-x: $spacing * 8;
		.video-container {
			left: 301px;
		}
	}

	#columns-detail {
		height: auto;
		padding-bottom: 753px;

		.timeline-item {
			margin-top: 0;
		}

		.upload-preview {
			right: auto;
			top: auto;
			bottom: -$section-spacing * 2;
			left: $spacing * 8;
		}
	}

	#previous-experience {
		p { margin-bottom: $spacing * 4; width: 100%; max-width: 540px;}
	}
}

@media only screen and (max-device-width: 736px) {

	#capriza-intro {
		img { height: 32px; }
	}
	
	#capriza-designer {
		.timeline-item { padding-bottom: 0px; }
		@include calc(background-size, '100% - #{$spacing} * 2');
		@include calc(padding-bottom, '100% - #{$spacing} * 4');
	}

	#columns-intro {
		img:first-child { height: 20px; }
		img:last-child {
			display: none;
		}
		
		.timeline-item { padding-bottom: 0px; }

		@include retina-image("../images/columns-designer", null, 'png', null, '@2x');
		background-repeat: no-repeat;
		background-position: bottom center;
		@include calc(background-size, '100% - #{$spacing} * 2');
		@include calc(padding-bottom, '100% - #{$spacing} * 12');
	}

	#columns-detail {
		.upload-preview-mobile {
			display: block;
		}

		.upload-preview {
			display: none;
		}

		background: none;
		padding-bottom: 0;
	}

	#queue {
		.timeline-item { padding-bottom: 0px; }
		background-position: bottom center;
		@include calc(background-size, '100% - #{$spacing} * 2');
		@include calc(padding-bottom, '100% - #{$spacing} * 4');
		.video-container {
			display: none;
		}
	}

	#carma {
		.timeline-item { padding-bottom: 0px; }
		background-position: bottom center;
		@include calc(background-size, '100% - #{$spacing} * 2');
		@include calc(padding-bottom, '100% - #{$spacing} * 12');
	}

	#skills {
		.timeline-item { padding-bottom: 0px; }
		background-position: bottom center;
		@include calc(background-position-x, '100% - #{$spacing} * 4');
		@include calc(background-position-y, '100% - #{$spacing} * 4');
		@include calc(background-size, '224px');
		@include calc(padding-bottom, '60%');
	}
}

