@import 'variables';

body {
	font-size: 100%;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;

	color: $text-color-light;
	font-family: 'Avenir Next', 'Avenir', 'Helvetica Neue', Helvetica, sans-serif;
	font-weight: 100;
}

h2 {
	margin-top: 0;
	margin-bottom: 72px;
	font-weight: 100;
  	font-size: 28px;
}

p {
	margin-top: 0;
	margin-bottom: 32px;
	font-size: 16px;
}

button {
	appearance: none;
	-webkit-appearance: none;
	background: none;
	border: none;
	outline: none;
	cursor: pointer;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	font-size: 12px;
	font-weight: 600;
	color: $primary-color;	

	height: 32px;
	line-height: 32px;
	border-radius: 2px;

	padding: 0 32px;

	&:focus, &:active {
		border: none;
		outline: none;
	}

	&:hover {
		background-color: rgba(0,0,0,0.02);
	}

	&:active {
		background-color: rgba(0,0,0,0.04);
	}
}