@import 'variables';
@import 'bower_components/bourbon/app/assets/stylesheets/bourbon';

$timeline-color-light: rgba(255,255,255,0.50);
$timeline-color-dark: rgba(0,0,0,0.12);

.dark {
	.timeline-line { background-color: $timeline-color-light; }
	.timeline-identifier:after { background-color: $timeline-color-light; }
}

.light {
	.timeline-line { background-color: $timeline-color-dark; }
	.timeline-identifier:after { background-color: $timeline-color-dark; }
}

.timeline-line {
	position: absolute;
	top: 0;
	left: $timeline-left-area-width;
	width: 1px;
	height: 100%;
	background-color: $timeline-color-light;
	z-index: 0;
}

$timeline-spacing: $spacing * 8;

.timeline-item {
	@include display(flex);
	padding: $section-spacing $section-spacing/2 0 $section-spacing;

	&:last-child {
		padding-bottom: $section-spacing;
	}
}

.timeline-identifier {
	box-sizing: border-box;
	min-width: $timeline-left-area-width - $section-spacing;
	padding-right: $timeline-spacing;
	margin-right: $timeline-spacing;
	text-align: right;
	position: relative;

	& > span {
		display: inline-block;
		margin-top: $spacing / 2;
	}

	& > object {
		margin-top: $spacing;
	}
}

.timeline-item {
	position: relative;
}

.timeline-identifier:after {
	content: '';
	position: absolute;
  	right: $timeline-spacing -$spacing * 12;
  	top: $spacing * 2;
	width: $timeline-spacing;
	height: 1px;
	background-color: $timeline-color-light;
}

.timeline-identifier.partial-notch:after {
	width: $timeline-spacing / 2;
	right: $timeline-spacing -$spacing * 8;
}

.timeline-identifier.no-notch:after {
	width: 0;
}

article {
	// padding: $section-spacing;
	padding-left: 0;
}

@media only screen and (max-width: 1200px) {

	$timeline-spacing-mobile: $spacing * 4;
	.timeline-line {
		left: $timeline-spacing-mobile;
	}

	.timeline-item {
		@include flex-direction(column);
	}

	.timeline-identifier {
		text-align: left;
		margin-bottom: $spacing * 4;

		&:after {
			width: $spacing * 4;;
			right: auto;
			left: -$spacing * 7;
		}
	}
}

@media only screen and (max-width: 736px) {
	
	#intro,
	#previous-experience,
	#skills {
		.timeline-line {
			height: 100%;
		}
	}

	.timeline-line {
		height: $spacing * 13;
	}

	.timeline-identifier {
		font-size: 14px;

		& > span {
			display: inline-block;
			margin-top: $spacing;
		}
	}
}